{% extends 'cc/base.html' %}
{% block body_block %}

    <script>
        function multiplyBy()
        {
        num1 = document.getElementById("firstNumber").value;
        convv = num1*76.96;
        document.getElementById("result").value = convv.toFixed(2);
        }

    </script>

    {% if messages %}
      {% for msg in messages %}
      <div class="alert alert-danger" role="alert" style="text-align: center;" id="msg">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{msg}}
      </div>
    {% endfor %}
    {% endif %}

    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">USD to INR Converter</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>USD</th>
                                <th>INR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">$</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="USD" aria-label="Username" aria-describedby="basic-addon1" id="firstNumber" style="text-align: center;height: 90px; font-size: 50px;">
                                  </div></td>
                                <td>    <div class="input-group mb-3">
                                    <input disabled id = "result" type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2" style="text-align: center;background-color: white; height: 90px; font-size: 50px;" placeholder="INR">
                                    <div class="input-group-append">
                                      <span class="input-group-text" id="basic-addon2">₹</span>
                                    </div>
                                  </div></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form>
            <div class="buttons"><a class="btn btn-primary" role="button" onClick="multiplyBy()">CONVERT</a></div>
            </form>
        </div>
    </div>


  </div>


  <!-- <script>
    setTimeout(function(){
      $('#msg').remove();
    },2000)
  </script> -->

    {% endblock %}
