{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/reg.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body style="background-color: #7f53ac;background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);">
  <div style="padding-left:35%; padding-top: 10%;">
  <div style="display:table;height:300px;text-align:center;">
    <div style="display:table-cell;vertical-align:middle;">
      <div class="container">
        <div class="jumbotron" style="background-color: white">
      <form enctype="multipart/form-data" method="POST" action="{% url 'register' %}" >
        <h4 style="font-family: 'Poppins', sans-serif; padding-bottom: 5%;">Register</h4>
        {% csrf_token %}
        {% if prereg %}
        <div class="alert alert-danger">
          <svg class="bi bi-exclamation-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
          </svg> <br>
          <sub> This user already exist, Please login to continue </sub>
        </div>
        {% endif %}

        {% if registered %}
        <div class="alert alert-info">
          <strong>Thankyou</strong> for registering please <strong>Login</strong> to continue
        </div>
        {% else %}
        {{ user_form.as_p }}
        <button type="submit" class="btn btn-success">SignUp</button>
        {% endif %}
      </form>
    </div>
    </div>
    </div>
    </div>  
  </div>

</body>
</html>